*{
    margin: 0;
    padding: 0;
}
body{
    background-color:#000;
}
.container{
    background-color: silver; 
    display: flex;
    width: 1100px;
    margin: 0 auto;
}
aside{
    width: 30%;
    background-color: gray;
}
.aside_photo{    
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 250px;
    border-radius: 50%;
}
.aside_contacts_text{
    margin-top: 10px;
    color:azure;
    font-size: 30px;
    text-align: center;
}
.aside_contacts_list{
    margin-top: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.mail_img{
    max-width: 70px;
}
.telegram_img{
    max-width: 70px;
}
.vk_img{
    max-width: 70px;
}
.aside_skills{
    margin-top: 30px; 
    color:azure;
}
.skills_title{
    text-align: center;
    font-size: 30px;
}
.skills_list{
    list-style: none;
    margin-top: 20px;
    padding-left: 40px;
}
.skills_list li{
    padding-left: 40px;
    margin: 10px 0;
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: left center;
    font-size: 30px;
}
.skills_list_html{
    background-image: url(../img/aside/skills_icons/html.svg);
}
.skills_list_css{
    background-image: url(../img/aside/skills_icons/css-3.svg);
}
.skills_list_c{
    background-image: url(../img/aside/skills_icons/c++.svg);
}
.skills_list_git{
    background-image: url(../img/aside/skills_icons/github.svg);
}
.skills_list_sass{
    background-image: url(../img/aside/skills_icons/sass.svg);
}
.skills_list_bootstrap{
    background-image: url(../img/aside/skills_icons/bootstrap.svg);
}
.aside_english{
    margin-top: 30px; 
    color:azure;
    text-align: center;
}
.english_title{
    font-size: 30px;
}
.english_level{
    font-size: 30px;
    margin-top: 20px;
}
main{
    padding-top: 40px;
    width:70%;
}
header{
    background-color: gold;
    height: 100px;
}
.header_title{
    text-align: center;
    padding-top: 10px;
}
.header_title .header_title_name{
    margin:0;
}
.main_container{
    margin-top: 20px;
    position: relative;
}
.info{
    width:50%;
    background-color:azure;
    margin-left: 20px;
    text-align: center;
    min-height: 120px;
}
.info_title{
    padding-top: 10px;
}
.info_descr{
    font-size: 20px;
    padding-bottom: 10px;
}

.work{
    margin-top: 20px;
    width:50%;
    background-color:azure;
    margin-right: 20px;
    position: relative;
    min-height: 120px;
    margin-left: 365px;
}
.work_title{
    padding-top: 10px;
    text-align: center;
}
.work_list{
    padding-left: 30px;
    padding-bottom: 10px;
    font-size: 20px;
}
.education{
    width:50%;
    background-color:azure;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    min-height: 120px;
}
.education_title{
    padding-top: 10px;
}
.education_university{
    font-size: 20px;
}

.code_example{
    width:50%;
    background-color:azure;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    min-height: 120px;
}
.code_title{
    padding-top: 20px;
    text-align: center;
}
.code_link{
    font-size: 20px;
}
.footer{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:gold;
    height: 150px;
}
.github_link_img{
    width: 30%;
    display: block;
    margin: 0 auto;
}
.rsschool_logo{
    width:50%;
    display: block;
    margin: 0 auto;
}
.year{
    font-size: 30px;
}